.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 30px;
  color: white;
  float: left;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

header, section, footer {
  width: 100%;
  height: auto;
  float: left;
}

.main-view {
  height: auto;
  margin: 0 auto;
}

.btn-main-style {
  display: block;
  color: white;
  background-color: hsl(180, 66%, 49%);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.btn-main-style:hover {
  background-color: hsl(180, 66%, 70%);
}

/*--HEADER-START---------------------------------------------------------*/
header {
  /* Responsive  */
}

header #logo-header {
  float: left;
}

header #nav-header {
  float: left;
}

#nav-header ul {
  list-style-type: none;
  float: left;
}

#nav-header ul li {
  display: block;
  float: left;
}

#nav-header ul li a {
  /* Responsive */
}

#nav-header ul li a:hover {
  color: hsl(257, 27%, 26%);
}

header #account {
  font-weight: 700;
}

#account .btn-login {
  float: left;
}

#account .btn-login:hover {
  color: hsl(257, 27%, 26%);
}

#account .btn-sign-up {
  float: left;
}

/*--HEADER-END---------------------------------------------------------*/

/*--LINK-SHORTEN-START---------------------------------------------------------*/
#link-shorten-section {
  background-image: url("../images/illustration-working.svg");
  background-repeat: no-repeat;
}

#intro-content {
  height: 100%;
  position: relative;
}

.intro-features-content {
  width: 100%;
  height: auto;
}

.intro-features-content h1 {
  display: inline-block;
  float: left;
  color: hsl(255, 11%, 22%);
}

.intro-features-content p {
  display: inline-block;
  float: left;
  margin-top: 10px;
  color: hsl(0, 0%, 75%);
  font-weight: 500;
}

.btn-get-start {
  float: left;
  padding: 15px 42px;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 40px;
}

#intro-content #shortly-link-form {
  position: absolute;
  background-color: hsl(257, 27%, 26%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

#shortly-link-form .inputext-side {
  float: left;
}

#shortly-link-form input[type=text] {
    font-size: 18px;
    border-radius: 10px;
}

#shortly-link-form input[type=text]:focus {
  outline: none;
}

#shortly-link-form button {
  border-radius: 10px;
  border: none;
  outline: none;
}

#shortly-link-form #input-error-message{
  color: hsl(0, 87%, 67%);
  font-weight: 500;
  width: 100%;
  display: inline-block;
  float: left;
  font-style: italic;
}

.normal-input {
  border: 3px solid hsl(257, 27%, 26%);
}

.error-input {
  border: 3px solid hsl(0, 87%, 67%);
}

.error-input::placeholder {
  color: hsl(0, 87%, 67%);
}

/*--LINK-SHORTEN-END---------------------------------------------------------*/

/*--INTRO-SERVICE-SECTION-START---------------------------------------------------------*/
#intro-service-section {
  background-color: #EFF1F7;
}

.service-introduce-content {
  margin-top: 120px;
  text-align: center;
}

.service-introduce-content h2 {
  color: hsl(255, 11%, 22%);
}

.service-introduce-content p {
  color: hsl(257, 7%, 63%);
  font-weight: 300;
}

.service-list-box {
  margin-top: 100px;
}

.service-list-box .service-detail {
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.margin-line {
  background-color: hsl(180, 66%, 49%);
}


.service-detail .service-icon {
  background-color: hsl(257, 27%, 26%);
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.service-detail h3 {
  color: hsl(255, 11%, 22%);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.service-detail p {
  color: hsl(0, 0%, 75%);
  font-size: 15px;
  font-weight: 500;
}

#brand-recognition .service-icon {
  background-image: url("../images/icon-brand-recognition.svg");
}

#detailed-records .service-icon {
  background-image: url("../images/icon-detailed-records.svg");
}

#fully-customizable .service-icon {
  background-image: url("../images/icon-fully-customizable.svg");
}


/*--INTRO-SERVICE-SECTION-END---------------------------------------------------------*/

/*--BOOST-SECTION-START---------------------------------------------------------*/

#boost-section {
  background-color: hsl(257, 27%, 26%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
}

.boost-box h2 {
  color: white;
}

.boost-box .btn-get-start {
  margin-top: 20px;
  margin-left: calc((100% - 202px) / 2);
  margin-right: calc((100% - 202px) / 2);
}

/*--BOOST-SECTION-END---------------------------------------------------------*/

/*--FOOTER-START---------------------------------------------------------*/

footer {
  background-color: hsl(260, 8%, 14%);
  padding-top: 70px;
  min-height: calc(300px - 70px);
}

footer #logo-footer {
  /* Responsive */
}

footer .nav-footer {
  /* Responsive */
}

.nav-footer h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

.nav-footer ul {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.nav-footer ul li {
  display: block;
  float: left;
  width: 100%;
}

.nav-footer ul li a {
  font-size: 14px;
  font-weight: 300;
  color: hsl(257, 7%, 63%);
}

.nav-footer ul li a:hover {
  color: hsl(180, 66%, 49%);
}

footer .share-nav {
  /* Responsive */
}

.share-nav ul {
  list-style-type: none;
  padding: 0;
}

.share-nav ul li {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}

.share-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#share-facebook {
  background-image: url("../images/icon-facebook.svg");
}

#share-facebook:hover {
  background-image: url("../images/icon-facebook-active.svg");
}

#share-twitter {
  background-image: url("../images/icon-twitter.svg");
}

#share-twitter:hover {
  background-image: url("../images/icon-twitter-active.svg");
}

#share-pinterest {
  background-image: url("../images/icon-pinterest.svg");
}

#share-pinterest:hover {
  background-image: url("../images/icon-pinterest-active.svg");
}

#share-instagram {
  background-image: url("../images/icon-instagram.svg");
}

#share-instagram:hover {
  background-image: url("../images/icon-instagram-active.svg");
}

/*--FOOTER-END---------------------------------------------------------*/

/*--SHORTEN-RESULT-START---------------------------------------------------------*/
#results-list-box {
  min-height: 1px;
  overflow: auto;
}

#results-list-box ul {
  display: block;
  list-style-type: none;
}

#results-list-box ul li {
  display: block;
  float: left;
  padding: 0;
  width: 100%;
}

.result-box {
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

.result-box p {
  display: block;
  padding: 6px 0px;
  font-weight: 300;
}

.result-box .original-link {
  float: left;
}

.result-box .copy-result-box {
  /* Responsive */
}

.copy-result-box .shorten-link {
  float: left;
  color: hsl(180, 66%, 49%);
}

.copy-result-box .btn-copy {
  padding: 9px 0px;
  border-radius: 5px;
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.copied {
  background-color: hsl(257, 27%, 26%);
}

.copied:hover {
  background-color: hsl(257, 27%, 26%);
}

/*--SHORTEN-RESULT-END---------------------------------------------------------*/
