.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 30px;
  color: white;
  float: left;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For Mobile (max 768px) */
}

@media only screen and (min-width: 769px) {
  /* For small device/tablets and larger (min 769px) */
}

header, section, footer {
  width: 100%;
  height: auto;
  float: left;
}

.main-view {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}

.btn-main-style {
  display: block;
  color: white;
  background-color: hsl(180, 66%, 49%);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.btn-main-style:hover {
  background-color: hsl(180, 66%, 70%);
}

/*--HEADER-START---------------------------------------------------------*/
header {
  height: 40px;
  padding: 40px 0;
}

header #logo-header {
  float: left;
  margin-right: 45px;
  margin-top: 10px;
}

header #nav-header {
  float: left;
}

#nav-header ul {
  list-style-type: none;
  float: left;
  padding: 10px 0px;
  margin: 0px;
}

#nav-header ul li {
  display: block;
  float: left;
  margin-right: 30px;
}

#nav-header ul li a {
  font-size: 14px;
  font-weight: 700;
  color: hsl(257, 7%, 63%);
}

#nav-header ul li a:hover {
  color: hsl(257, 27%, 26%);
}

header #account {
  float: right;
  font-size: 14px;
  font-weight: 700;
}

#account .btn-login {
  float: left;
  padding: 10px 40px;
  color: hsl(257, 7%, 63%);
}

#account .btn-login:hover {
  color: hsl(257, 27%, 26%);
}

#account .btn-sign-up {
  float: left;
  padding: 10px 25px;
  border-radius: 20px;
}

/*--HEADER-END---------------------------------------------------------*/

/*--LINK-SHORTEN-START---------------------------------------------------------*/
#link-shorten-section {
  height: 670px;
  background-image: url("../images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position-x: 830px;
  background-position-y: 45px;
}

#intro-content {
  height: 100%;
  position: relative;
}

.intro-features-content {
  width: 100%;
  height: auto;
}

.intro-features-content h1 {
  display: inline-block;
  float: left;
  font-size: 72px;
  line-height: 84px;
  color: hsl(255, 11%, 22%);
  width: 600px;
  margin-top: 120px;
}

.intro-features-content p {
  display: inline-block;
  float: left;
  clear: left;
  margin-top: 10px;
  color: hsl(0, 0%, 75%);
  width: 490px;
  font-weight: 500;
}

.btn-get-start {
  float: left;
  clear: left;
  padding: 15px 42px;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 30px;
}

#intro-content #shortly-link-form {
  position: absolute;
  padding: 50px 50px 0px 50px;
  min-height: 118px;
  left: 0;
  bottom: calc(-168px / 2);
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  width: calc(100% - 100px);
}

#shortly-link-form input[type=text] {
    padding: 20px;
    float: left;
    height: calc(68px - 40px - 6px);
    width: calc(770px - 40px - 6px);
    font-size: 18px;
    border-radius: 10px;
}

#shortly-link-form input[type=text]:focus {
  outline: none;
}

#shortly-link-form button {
  float: right;
  width: calc(100% - 770px - 20px);
  height: 68px;
  border-radius: 10px;
  font-size: 24px;
  border: none;
  outline: none;
}

#shortly-link-form #input-error-message{
  color: hsl(0, 87%, 67%);
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
  float: left;
  font-style: italic;
}

.normal-input {
  border: 3px solid hsl(257, 27%, 26%);
}

.error-input {
  border: 3px solid hsl(0, 87%, 67%);
}

.error-input::placeholder {
  color: hsl(0, 87%, 67%);
}



/*--LINK-SHORTEN-END---------------------------------------------------------*/
/*--INTRO-SERVICE-SECTION-START---------------------------------------------------------*/
#intro-service-section {
  background-color: #EFF1F7;
}

.service-introduce-content {
  margin-top: 120px;
  text-align: center;
}

.service-introduce-content h2 {
  color: hsl(255, 11%, 22%);
  margin-bottom: 15px;
  font-size: 38px;
}

.service-introduce-content p {
  color: hsl(257, 7%, 63%);
  font-weight: 300;
  width: 500px;
  margin: 0 calc((100% - 500px) / 2)
}

.service-list-box {
  height: 350px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.service-list-box .service-detail {
  float: left;
  padding: 75px 30px 40px 30px;
  width: calc(350px - 60px);
  height: calc(270px - 75px - 40px);
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.margin-line {
  float: left;
  width: 30px;
  height: 8px;
  margin-top: 150px;
  background-color: hsl(180, 66%, 49%);
}


.service-detail .service-icon {
  background-color: hsl(257, 27%, 26%);
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: calc(-90px / 2);
  left: 30px;
}

.service-detail h3 {
  color: hsl(255, 11%, 22%);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.service-detail p {
  font-size: 15px;
  font-weight: 300;
}

#brand-recognition .service-icon {
  background-image: url("../images/icon-brand-recognition.svg");
}

#detailed-records {
  margin-top: 40px;
}

#detailed-records .service-icon {
  background-image: url("../images/icon-detailed-records.svg");
}

#fully-customizable {
  margin-top: 80px;
}

#fully-customizable .service-icon {
  background-image: url("../images/icon-fully-customizable.svg");
}


/*--INTRO-SERVICE-SECTION-END---------------------------------------------------------*/

/*--BOOST-SECTION-START---------------------------------------------------------*/

#boost-section {
  height: 250px;
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
}

.boost-box h2 {
  color: white;
  margin-top: 50px;
  font-size: 38px;
}

.boost-box .btn-get-start {
  margin-top: 20px;
  margin-left: calc((100% - 202px) / 2);
  margin-right: calc((100% - 202px) / 2);
}

/*--BOOST-SECTION-END---------------------------------------------------------*/

/*--FOOTER-START---------------------------------------------------------*/

footer {
  background-color: hsl(260, 8%, 14%);
  padding-top: 70px;
  height: calc(300px - 70px);
}

footer #logo-footer {
  float: left;
  margin-right: 230px;
}

footer .nav-footer {
  float: left;
  width: 150px;
  margin-left: 30px;
}

.nav-footer h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

.nav-footer ul {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.nav-footer ul li {
  display: block;
  float: left;
  width: 100%;
}

.nav-footer ul li a {
  font-size: 14px;
  font-weight: 300;
  color: hsl(257, 7%, 63%);
}

.nav-footer ul li a:hover {
  color: hsl(180, 66%, 49%);
}

footer .share-nav {
  float: right;
  width: 200px;
}

.share-nav ul {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.share-nav ul li {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}

.share-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#share-facebook {
  background-image: url("../images/icon-facebook.svg");
}

#share-facebook:hover {
  background-image: url("../images/icon-facebook-active.svg");
}

#share-twitter {
  background-image: url("../images/icon-twitter.svg");
}

#share-twitter:hover {
  background-image: url("../images/icon-twitter-active.svg");
}

#share-pinterest {
  background-image: url("../images/icon-pinterest.svg");
}

#share-pinterest:hover {
  background-image: url("../images/icon-pinterest-active.svg");
}

#share-instagram {
  background-image: url("../images/icon-instagram.svg");
}

#share-instagram:hover {
  background-image: url("../images/icon-instagram-active.svg");
}

/*--FOOTER-END---------------------------------------------------------*/


/*--SHORTEN-RESULT-START---------------------------------------------------------*/
#results-list-box {
  margin-top: 110px;
  min-height: 1px;
  overflow: auto;
}

#results-list-box ul {
  display: block;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

#results-list-box ul li {
  display: block;
  float: left;
  padding: 0;
  margin: 15px 0 0 0;
  width: 100%;
}

.clear {
  clear: both;
}

.result-box {
  padding: 15px 30px;
  width: calc(100% - 60px);
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

.result-box p {
  display: block;
  padding: 6px 0px;
  font-weight: 500;
}

.result-box .original-link {
  float: left;
}

.result-box .copy-result-box {
  float: right;
}

.copy-result-box .shorten-link {
  float: left;
  margin-right: 25px;
  color: hsl(180, 66%, 49%);
}

.copy-result-box .btn-copy {
  width: 100px;
  padding: 9px 0px;
  border-radius: 5px;
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.copied {
  background-color: hsl(257, 27%, 26%);
}

.copied:hover {
  background-color: hsl(257, 27%, 26%);
}

/*--SHORTEN-RESULT-END---------------------------------------------------------*/

/*
### Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%)

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: hsl(257, 7%, 63%)
- Very Dark Blue: hsl(255, 11%, 22%)
- Very Dark Violet: hsl(260, 8%, 14%)


*/
